.title {
  text-align: center;
  color: #212ea0;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 50px 0 20px;
}

.title h2 {
  font-size: 32px;
  color: #000f38;
  margin-top: 5px;
  text-transform: none;
}

@media (max-width: 768px) {
  .title {
    font-size: 12px;
    margin: 30px 0 10px;
    background-color: red;
  }

  .title h2 {
    font-size: 24px;
    margin-top: 30px;
    background-color: royalblue;
  }
}
